<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FWCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Label Photo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MessageAPhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Photos++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>671328411D7DB23A00EE9AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671328581D7DB23A00EE9AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671328631D7DB23A00EE9AF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676611671DB57CA800ADA56C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6766116F1DB57CA800ADA56C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676611A81DBE92F900ADA56C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67F68E0F1DB3C7E7001248F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
